# Python
venv/
*.pyc
__pycache__/

# IDEs
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Windows
*Zone.Identifier

# Results
*.csv
results/

# PDF files
*.pdf

# Checkpoints
*.pth

# Backup
ptxas