# Python
venv/
*.pyc
__pycache__/
.ipynb_checkpoints/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Windows
*Zone.Identifier

# CSV files
*.csv

# PDF files
*.pdf

# Checkpoints
*.pth